<tr class="<%= build.status %>">
  <th>#<%= @repository.builds.index(build) + 1 %></th>
  <td>
    <%= link_to md(build.summary), [@project, @repository, build], class: build.status %>
    <small><em><%= build.commit %></em></small>
  </td>
  <td><%= l build.created_at %></td>
  <td><%= build.status.capitalize %></td>
</tr>

