<div class="row-fluid">
  <div class="span4">
    <h3>Live updates</h3>
  </div>

  <div class="span8">
    <h2><%= @project.name %> <small class="<%= @project.status %>"><%= @project.status.capitalize %></small></h2>
    <h3><%= @repository.name %></h3>
    <%= render partial: 'commit', collection: @repository.commits %>
  </div>
</div>
