<div class="row-fluid">
  <div class="span4">
    <h3>Live updates</h3>
  </div>

  <div class="span8">
    <ul class="breadcrumb">
      <li><%= link_to "home", "/" %></li>
      <li class="divider"> - Project:</li>
      <li><%= link_to @project.name, @project %></li>
      <li class="divider"> - Repository:</li>
      <li><%= link_to @repository.name, [ @project, @repository ] %></li>
    </ul>

    <h2><%= @build.commit[0..9] %>
      <small>Build</small>
      <small class="build.status"><%= @build.status.capitalize %></small>
    </h2>

    <%= render partial: 'log', object: @build.log %>
  </div>
</div>

<% content_for :script do %>
  sub = client.subscribe("/build/<%= @build._id %>", function() {
    console.log("message on build");
    new Ajax.Request('<%= tail_project_repository_build_path(@project,@repository,@build) %>');
  });
  sub.callback(function() { console.log("Listening to /build/<%= @build._id %>"); });
<% end %>
