<%= live_updates %>

<ul class="breadcrumb">
  <li><%= link_to "home", "/" %></li>
  <li class="divider"> - Project:</li>
  <li><%= link_to @project.name, @project %></li>
  <li class="divider"> - Repository:</li>
  <li><%= link_to @repository.name, [ @project, @repository ] %></li>
</ul>

<h2><%= @build.commit[0..9] %>
  <small>Build</small>
  <small class="<%= @build.status %>"><%= @build.status.capitalize %></small>
</h2>

<div id="log"><%= render partial: 'log', object: @build.log %></div>
<div id="bottom" />

<% content_for :script do %>
  sub = client.subscribe("/build/<%= @build._id %>", function() {
    <%= remote_function(
      url: tail_project_repository_build_path(@project,@repository,@build),
      update: 'log',
      success: "new Effect.ScrollTo('bottom');",
    ) %>

  });
  sub.callback(function() { console.log("Listening to /build/<%= @build._id %>"); });
<% end %>
