<%= live_updates %>

<ul class="breadcrumb"><li><%= link_to "home", "/" %></li></ul>

<h2><%= @project.name %> <small>Project</small> <small class="<%= @project.status %>"><%= @project.status.capitalize %></small></h2>

<%= render @project %>
