<!DOCTYPE html>
<html>
<head>
  <title>Heidi2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="/" title="Heidi-Zwei">Heidi2</a>

        <div class="nav-collapse collapse pull-right">
          <ul class="nav">
            <% if current_user? %>
              <li class="">
                <%= link_to :Projects, projects_path %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="margin-top: 40px;">
    <div class="row-fluid">
      <div class="span1"><!-- I preserve room -->&nbsp;</div>
      <div class="span11"><%= yield %></div>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript"
            src="http://localhost:8000/faye/client.js">
  </script>
  <script type="text/javascript" defer="defer">
    jQuery.noConflict();
    var client = new Faye.Client('http://localhost:8000/faye');
    <%= content_for :script %>
  </script>

</body>
</html>
