<!DOCTYPE html>
<html>
<head>
  <title>Heidi2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'heidi2.ico' %>
  <%= javascript_include_tag "application" %>

  <script type="text/javascript"
    src="<%= File.join(Heidi2::Application.config.faye_uri, 'client.js') %>">
  </script>

  <script type="text/javascript" defer="defer">
    jQuery.noConflict();
    var client = new Faye.Client('<%= j Heidi2::Application.config.faye_uri %>');
  </script>

</head>
<body>

  <div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="/" title="Heidi-Zwei">Heidi2</a>

        <div class="nav-collapse collapse pull-right">
          <ul class="nav">
            <% if current_user? %>
              <li class="">
                <%= link_to :Projects, projects_path %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="margin-top: 40px;">
    <div class="row-fluid">
      <div class="span1"><!-- create space --></div>
      <% if content_for? :live_updates %>
        <div class="span3" id="live-updates"><%= content_for :live_updates %></div>
        <div class="span8"><%= yield %></div>
      <% else %>
        <div class="span11"><%= yield %></div>
      <% end %>
    </div>
  </div>

  <% if content_for? :script %>
    <script type="text/javascript" defer="defer">
      <%= content_for :script %>
    </script>
  <% end %>

</body>
</html>
